body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.difficulty-buttons {
  margin-bottom: 30px;
}

.btn-difficulty {
  font-family: 'Press Start 2P', cursive;
  background-color: #FEF2BF;
  color: #011F3F;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-difficulty:hover {
  background-color: #011F3F;
  color: #FEF2BF;
}

.selected-difficulty {
  background-color: #011F3F;
  color: #FEF2BF;
  box-shadow: 0 0 10px white;
}

.score-container {
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  margin: 20px 0;
}

.score-container p {
  margin: 5px 0;
  font-size: 1.5rem;
}

.sound-control-container {
  margin-bottom: 20px; /* Adjusted margin for spacing */
}

.btn-sound {
  font-family: 'Press Start 2P', cursive;
  background-color: #FEF2BF; /* Same as btn-difficulty */
  color: #011F3F; /* Same as btn-difficulty */
  border: 5px solid black; /* Same as btn-difficulty */
  border-radius: 10px; /* Same as btn-difficulty */
  padding: 10px 20px; /* Same as btn-difficulty */
  font-size: 1rem; /* Same as btn-difficulty */
  cursor: pointer;
}

.btn-sound:hover {
  background-color: #011F3F; /* Same as btn-difficulty:hover */
  color: #FEF2BF; /* Same as btn-difficulty:hover */
}
